@use 'sass:map';
@use "variables" as *;

@mixin mq($breakpoint: tab) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media screen and #{map.get($breakpoints, $breakpoint)} {
      @content;
    }
  }

  @else {
    @media screen and (min-width: #{$breakpoint}px) {
      @content;
    }
  }
}

@mixin hover() {
  @media (any-hover: hover) and (min-width: 768px) {
    @content;
  }
}

@function px($arg) {
  @return calc($arg * 1px);
}

@mixin navItemHoverStyle($textColor: var(--color-text), $hoveredTextColor: var(--color-accent)) {
  color: transparent;
  background: linear-gradient(to right, $hoveredTextColor 50%, $textColor 50%) 100%;
  background-clip: text;
  background-size: 200% 100%;
  transition: background-position 0.35s;

  &:hover {
    @media (any-hover: hover) {
      background-position: 0 100%;
    }
  }

  &:focus-visible {
    background-position: 0 100%;
  }
}