.p-blog-archive__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(38.6666666667rem, 100%), 1fr));
  gap: 4rem 0;
}
@media screen and (width >= 768px) {
  .p-blog-archive__list {
    gap: 0 2rem;
  }
}
@media screen and (width >= 768px) {
  .p-blog-archive__item {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
  }
  .p-blog-archive__item:nth-child(n+4) {
    margin-top: 4rem;
  }
}
@media screen and (width >= 768px) {
  .p-blog-archive .c-thumbnail-card__inner {
    grid-template-rows: subgrid;
    grid-row: span 5;
    gap: 0;
  }
}
@media screen and (width >= 768px) {
  .p-blog-archive .c-thumbnail-card__body {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    margin-top: 2rem;
  }
}
.p-blog-archive .c-thumbnail-card__ttl {
  font-size: 1.5rem;
}
@media screen and (width >= 768px) {
  .p-blog-archive .c-thumbnail-card__ttl {
    font-size: 1.6rem;
  }
}
.p-blog-archive .c-thumbnail-card__img {
  aspect-ratio: 387/241;
}
.p-blog-archive__intro-txt {
  line-height: 1.6;
}
@media screen and (width >= 768px) {
  .p-blog-archive__intro-txt {
    font-size: 1.6rem;
  }
}
.p-blog-archive__list {
  margin-top: 4rem;
}
.p-blog-archive__item-txt {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  line-height: 1.2;
}
.p-blog-archive .pagination {
  margin-top: 6rem;
}
.p-blog-archive .pagination .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-blog-archive .pagination .page-numbers {
  font-family: var(--font-en);
  line-height: 1;
}
@media screen and (width >= 768px) {
  .p-blog-archive .pagination .page-numbers {
    font-size: 1.6rem;
  }
}
.p-blog-archive .pagination .page-numbers:not(.prev, .next) {
  padding: 1rem 4px;
  position: relative;
}
.p-blog-archive .pagination .page-numbers:not(.prev, .next) + .page-numbers:not(.prev, .next) {
  margin-left: 1.9rem;
}
@media screen and (width >= 768px) {
  .p-blog-archive .pagination .page-numbers:not(.prev, .next) + .page-numbers:not(.prev, .next) {
    margin-left: 3.8rem;
  }
}
.p-blog-archive .pagination .page-numbers.prev {
  margin-right: 2rem;
}
@media screen and (width >= 768px) {
  .p-blog-archive .pagination .page-numbers.prev {
    margin-right: 4rem;
  }
}
.p-blog-archive .pagination .page-numbers.next {
  margin-left: 2rem;
}
@media screen and (width >= 768px) {
  .p-blog-archive .pagination .page-numbers.next {
    margin-left: 4rem;
  }
}
.p-blog-archive .pagination .page-numbers.current::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-accent);
}
.p-blog-archive .pagination .page-numbers:not(.prev, .next, .current)::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-accent);
  transform-origin: center;
  scale: 0 1;
  opacity: 0;
  transition: scale 0.3s, opacity 0.3s;
}
@media (any-hover: hover) {
  .p-blog-archive .pagination .page-numbers:not(.prev, .next, .current):hover::after {
    scale: 1 1;
    opacity: 1;
  }
}

.p-blog-single__ttl {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: calc(var(--leading-trim) + 2rem);
}
@media screen and (width >= 768px) {
  .p-blog-single__ttl {
    font-size: 3.2rem;
  }
}
.p-blog-single__date {
  font-family: var(--font-en);
  line-height: 1;
}
@media screen and (width >= 768px) {
  .p-blog-single__date {
    font-size: 1.6rem;
  }
}
.p-blog-single__tags {
  margin-top: 1.2rem;
}
.l-wp-block-content + .p-blog-single__tags {
  margin-top: 4rem;
}
.p-blog-single__img {
  margin-top: 4rem;
  aspect-ratio: 1000/575;
  border-radius: 0.8rem;
  overflow: hidden;
}
.p-blog-single__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-blog-single__navi-wrap {
  margin-top: 3rem;
  padding-block: 2rem;
  display: grid;
  gap: 3.5rem 0;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
@media screen and (width >= 768px) {
  .p-blog-single__navi-wrap {
    margin-top: 6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "prev next";
  }
}
@media screen and (width >= 768px) {
  .p-blog-single__navi.prev {
    grid-area: prev;
  }
}
@media screen and (width >= 768px) {
  .p-blog-single__navi.next {
    grid-area: next;
  }
}
.p-blog-single__navi-link {
  position: relative;
  padding-inline: 2.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
}
@media screen and (width >= 768px) {
  .p-blog-single__navi-link {
    padding-inline: 5rem;
    gap: 3rem 0;
  }
}
.p-blog-single__navi-link::before {
  content: "";
  display: inline-block;
  width: 1rem;
  aspect-ratio: 10/17;
  position: absolute;
  background: url("../images/common/icon-nav-arrow.svg") no-repeat center center/contain;
  top: 0;
  bottom: 0;
  margin-block: auto;
}
.p-blog-single__navi.prev .p-blog-single__navi-link {
  align-items: flex-start;
}
@media screen and (width <= 767px) {
  .p-blog-single__navi.prev .p-blog-single__navi-link {
    padding-left: 4rem;
  }
}
.p-blog-single__navi.prev .p-blog-single__navi-link::before {
  left: 0;
}
.p-blog-single__navi.next .p-blog-single__navi-link {
  align-items: flex-end;
}
@media screen and (width <= 767px) {
  .p-blog-single__navi.next .p-blog-single__navi-link {
    padding-right: 4rem;
  }
}
.p-blog-single__navi.next .p-blog-single__navi-link::before {
  right: 0;
  rotate: 180deg;
}
.p-blog-single__navi.prev + .p-blog-single__navi.next .p-blog-single__navi-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10rem;
  height: 1px;
  background: #D9D9D9;
  bottom: calc(100% + 1rem);
  left: 0;
  right: 0;
  margin-inline: auto;
}
@media screen and (width >= 768px) {
  .p-blog-single__navi.prev + .p-blog-single__navi.next .p-blog-single__navi-link::after {
    width: 1px;
    left: 0;
    right: unset;
    bottom: 0;
    height: 100%;
  }
}
.p-blog-single__navi-txt {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;
  color: var(--color-accent);
}
@media screen and (width >= 768px) {
  .p-blog-single__navi-txt {
    font-size: 1.5rem;
  }
}
.p-blog-single__navi-ttl {
  line-height: 1.5;
  margin-block: var(--leading-trim);
  color: transparent;
  background: linear-gradient(to right, var(--color-accent) 50%, var(--color-text) 50%) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  transition: background-position 0.35s;
}
@media (any-hover: hover) {
  .p-blog-single__navi-link:hover .p-blog-single__navi-ttl {
    background-position: 0 100%;
  }
}
.p-blog-single__navi-link:focus-visible .p-blog-single__navi-ttl {
  background-position: 0 100%;
}
/*# sourceMappingURL=_map/blog.css.map */
