@use "../global" as *;
@use "sass:map";

.c-arrow-btn {
  width: 6rem;
  height: 3.6rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vmax;
  box-shadow: 0px 2px 5px 0px #CECACD40;
  border: 1px solid #E0DFE2;
  
  &.disabled {
    opacity: .35;
    cursor: default;
    pointer-events: none;
  }

  &::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    background: var(--color-accent);
    mask: url("../images/common/icon-arrow-next.svg") no-repeat center center / cover;
  }

  &.prev {
    &::before {
      rotate: 180deg;
    }
  }
}