@use "../global" as *;
@use "sass:map";

.c-btn {
  text-align: center;

  &.__pc-right {
    @include mq {
      text-align: right;
    }
  }

  &__link {
    display: inline-grid;
    min-width: 12.7rem;
    padding: 1.8rem 3.2rem;
    grid-template-columns: auto 0.8rem;
    gap: 0 1.6rem;
    align-items: center;
    border-radius: 100vmax;
    box-shadow: 0px 2px 5px 0px #CECACD40;
    border: 1px solid #E0DFE2;
    font-family: var(--font-sub);
    line-height: 1;
    font-size: 1.3rem;
    font-weight: bold;
    background: #fff;

    &::after {
      content: '';
      width: 100%;
      aspect-ratio: 1 / 1;
      background: var(--color-accent);
      border-radius: 50%;
      transition: translate 0.3s;
      
    }

    .c-btn.__bg-gold & {
      background-color: var(--color-accent);
      border-color: #B5944F;
      color: #fff;

      &::after {
        background: #fff;
      }
    }

    .c-btn.__height-short & {
      padding-block: 1.15rem;
      line-height: normal;
    }

    .c-btn.__height-short & {
      padding-block: 1.15rem;
      line-height: normal;
    }

    .c-btn.__disabled & {
      background: #D2D2D2;
      border-color: #CBCBCB;
      color: #fff;
      pointer-events: none;
      cursor: default;

      &::after {
        background: #fff;
      }
    }

    .c-btn.__large & {
      padding-block: 2.65rem;
      min-width: 28rem;
      gap: 0 0.8rem;

      @include mq {
        min-width: 31.9rem;
      }
    }

    @include hover {
      &:not(.__disabled .c-btn__link):hover::after {
        translate: 100% 0;
      }
    }
  }
}