@use "../global" as *;
@use "sass:map";

.c-swiper-controls {
  display: grid;
  grid-template-columns: 6rem 1fr 6rem;
  justify-items: center;
  align-items: center;
  margin-top: 4rem;

  @include mq {
    grid-template-columns: 6rem max-content 6rem;
    justify-content: center;
    gap: 0 7.4rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    margin-top: 0;

    &::after {
      display: none;
    }
  }

  .swiper-pagination {
    position: static;
  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }
  .swiper-pagination-bullet {
    background-color: grey;

    width: 0.8rem;
    height: 0.8rem;
    margin: 0;

    & + .swiper-pagination-bullet {
      margin-left: 1.2rem !important;
    }

    &.swiper-pagination-bullet-active{
      background-color: var(--color-accent);
    }

  }
}