@use "../global" as *;
@use "sass:map";

.l-inner {
  padding-inline: 1.5rem;
  margin-inline: auto;

  @include mq(tab) {
    width: min(124rem, 100%);
    padding-inline: 2rem;
  }

  &.__small {
    @include mq {
      width: min(104rem, 100%);
    }
  }
}

